* {
  margin: auto;
}
body {
  background-image: url("./assets/star-background.jpg");
}

h1 {
  color: white;
  padding: 2rem;
}

h2 {
  color: white;
}

.form {
  padding: 10px;
}

button {
  padding: 2rem;
  margin-top: 1rem;
}

input {
  width: 75%;
}

img {
  border-radius: 50%;
  max-width: 400px;
  max-height: 500px;
}
