* {
  background-color: brown;
  margin: auto;
}

h1 {
  color: white;
  padding: 2rem;
}

h2 {
  color: white;
}

.form {
  padding: 10px;
}

.button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
